SELECT table_schema as "Name Database", SUM(data_length + index_length) / 1024 / 1024 as "Size Database (MB)" FROM information_schema.tables   
GROUP BY table_schema ORDER BY SUM(data_length + index_length) DESC

kabag
username : yudi
password : yudi

kasubag
username : sam
password : sam

staff
username : kukuh
password : Th3Blu3$